<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>TitleServlet</servlet-name>
    <servlet-class>com.stefano.Titles</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TitleServlet</servlet-name>
    <url-pattern>/title</url-pattern>
  </servlet-mapping>

</web-app>
